svg { border: 5px solid #222; }
/* Not working: .node:hover, circle:hover { background:red; fill: black; } */

#container {
  overflow: hidden;
}

div {
  overflow: hidden;
  opacity: .5; 
  position: absolute;

}


button {
 margin-left: 930px;
}